<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Sticker Generator</title>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="container">
    <h2>🎨 Sticker Generator</h2>

    <textarea id="prompt" placeholder="Опиши стикер..."></textarea>

    <input type="file" id="photo" accept="image/*">

    <button onclick="sendData()">Создать стикер</button>

    <p id="status"></p>
</div>

<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
